
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Space Exploration</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Orbitron:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}">
</head>
<body>
  <!-- Main Container for the whole page -->
  <div class="main-container">
    <!-- Header Section -->
    <header>
      <div class="header-content">
        <h1>MINI PROJECT</h1>
        <p>Explore real-time satellite collision risk data</p>
      </div>
    </header>

    <!-- Main Content Section -->
    <div class="content-container">
      <h2>Welcome to the Project</h2>
      <p>This project will allow you to check the collision risk between satellites in real-time.</p>
      <!-- Button to navigate to main.html -->
      <button onclick="window.location.href='/dashboard'" class="btn btn-primary">Go to Dashboard</button>

    </div>

    <!-- Footer Section -->
    <footer>
      <p>&copy; 2025 Satellite Collision Project | All Rights Reserved</p>
    </footer>
  </div>

  <script src="script.js"></script>
</body>
</html>
